[submodule "native-libs/src/main/cpp/modules/libwebp"]
	path = native-libs/src/main/cpp/modules/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "native-libs/src/main/cpp/modules/libav"]
	path = native-libs/src/main/cpp/modules/libav
	url = https://github.com/FFmpeg/FFmpeg.git